@media (min-width: 1440px){



  .chinesse{
    padding: 30px 0px 30px 30px;
    background-color: red;
    font-family: "Helvetica Bold";
    font-size: 20px;
    color: white;
  }

  .wrapper{
    display: flex;
    justify-content: space-around;
    margin: 52px auto;
  }


  .Fresh-Strawberry-Tart-first{
    padding: 27px 33px 40px 33px;
    border: 5px solid #E5E000;
    box-sizing: border-box;
    border-radius: 30px;
    font-family: "Helvetica Regular";
    font-size: 20px;
    display: inline-block;
    width: 400px;
  }

  .first-column, .second-column, .third-column {
    margin-bottom: 40px;
  }

  h2{
    margin-bottom: 60px;
    font-family: "Helvetica Bold";
    font-size: 30px;

  }


  footer{
    padding: 30px 30px 30px 30px;
    background-color: red;
    font-family: "Helvetica Bold";
    font-size: 20px;
    color: white;
  }

  ul{
    display: flex;
    justify-content: space-between;
  }
}
