/* body{
  margin: 0 50px 0 50px;
} */


header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 50px 50px 50px;
}

.logo img{
  width: 120px;
}

.links{
  display: flex;
  justify-content: space-between;
}

.links li{
  font-size: 45px;
  font-family: 'Helvetica Regular';
  color: #E50043;
  padding-right: 20px;
}


.is-h1{
  height: 950px;
  background-image: url(../images/evian_origins_logo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
}

.text-h1{
  margin: auto;
  font-size: 100px;
  font-family: 'Helvetica Bold';
  color: #E50043;
}

.is-discription{
  display: flex;
}

.is-our-water{
  margin: auto;
  border: 3px solid #F8BFC7;
  border-radius: 20px;
  padding: 30px 80px 30px 80px;
  width: 1040px;
  margin-bottom: 150px;
  margin-top: 150px;
}

.is-our-water p{
  font-size: 25px;
  font-family: 'Helvetica Regular';
  line-height: 29px;
}

.is-bottles{
  display: flex;
  justify-content: space-around;
  margin-bottom: 150px;
}

.is-first-bottle, .is-second-bottle, .is-third-bottle{
  text-align: center;
  font-size: 25px;
  line-height: 29px;
  font-family: 'Helvetica Regular';
}

.is-evian-about{
  display: flex;
  margin-bottom: 150px;
}

.is-evian-about-discription{
  display: flex;
  justify-content: space-between;
  width: 1040px;
  border: 3px solid #F8BFC7;
  border-radius: 20px;
  font-size: 25px;
  font-family: 'Helvetica Regular';
  line-height: 29px;
  margin: auto;
  padding: 30px 80px 30px 80px;
}

.is-footer{
  background-color: #F8BFC7;
  font-size: 50px;
  font-family: 'Helvetica Regular';
}

.is-footer ul{
  padding: 50px 50px 50px 50px;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
}
